.home{
    display: flex;
    height: 100%;
    width: 100%;
    // background-color: blue;
    justify-content: center;
    align-content: center;
    h2{
        font-size: 34px;
        font-weight: 800;
    }
    p{
        font-weight: 500;
        font-size: 20px;
    }
    button{
        width: 7rem;
        height: 2.5rem;
        border: none;
        background-color: blue;
        color: white;
        border-radius: 10px;
    }
    .home-image{
        flex: .6;
        height: 50vh;
    }
    .Home-Container{
        flex: 1.4;
        height: 98vh;
        align-content: center;
        .me{
            height: 4rem;
            width: 4rem;
            font-weight: 800;
        }

    }
}